In [84]:
#from selenium import webdriver
#from selenium.webdriver.common.keys import Keys
#from selenium.webdriver.common.by import By
#import pandas as pd 
#import time 
#import pyautogui

In [85]:
pyautogui.alert("Vai começar, aperte OK e não mexa mais no nootbok")

navegador = webdriver.Chrome()
navegador.get("https://www.google.com/")

In [86]:
#Pegar a cotação do dóloar
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação dólar")
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
time.sleep(2)

cotacao_dolar = navegador.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
cotacao_dolar = cotacao_dolar.replace(",",".")
print(cotacao_dolar)

5.1575

In [87]:
#Pegar cotação do Euro
navegador.get("https://www.google.com/")
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação euro")
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
time.sleep(2)

cotacao_euro = navegador.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
cotacao_euro = cotacao_euro.replace(",",".")
print(cotacao_euro)

5.12624555

In [88]:
#Cotação do Ouro
navegador.get("https://www.google.com/")
navegador.get("https://www.melhorcambio.com/ouro-hoje")
cotacao_ouro = navegador.find_element(By.XPATH, '//*[@id="comercial"]').get_attribute("value")
cotacao_ouro = cotacao_ouro.replace(",",".")
print(cotacao_ouro)

navegador.quit()#fechar o navegador

289.87

In [89]:
#Importando lista de produtos
tabela = pd.read_excel(r"C:\Users\User\Desktop\curso fiap\Projeto final - Tokio Marine\Automação Docs - Python\Aula 3\Produtos.xlsx")

In [90]:
#Atualizando dados da planilha
tabela.loc[tabela["Moeda"] == "Dólar", "Cotação"] = float(cotacao_dolar)
tabela.loc[tabela["Moeda"] == "Euro", "Cotação"] = float(cotacao_euro)
tabela.loc[tabela["Moeda"] == "Ouro", "Cotação"] = float(cotacao_ouro)
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.157500,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,5.126246,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5.157500,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5.157500,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,5.126246,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5.157500,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,289.870000,7000.00,1.15,8050.000

In [91]:
#Calculando valores das colunas
tabela["Preço de Compra"] = tabela["Preço Original"] + tabela["Cotação"]
tabela["Preço de Venda"] = tabela["Preço de Compra"] + tabela["Margem"]
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.157500,1005.147500,1.40,1006.547500
1,Carro Renault,4500.00,Euro,5.126246,4505.126246,2.00,4507.126246
2,Notebook Dell,899.99,Dólar,5.157500,905.147500,1.70,906.847500
3,IPhone,799.00,Dólar,5.157500,804.157500,1.70,805.857500
4,Carro Fiat,3000.00,Euro,5.126246,3005.126246,1.90,3007.026246
5,Celular Xiaomi,480.48,Dólar,5.157500,485.637500,2.00,487.637500
6,Joia 20g,20.00,Ouro,289.870000,309.870000,1.15,311.020000

In [92]:
#Exportando resultado para uma planilha Excel
tabela.to_excel(r"C:\Users\User\Desktop\curso fiap\Projeto final - Tokio Marine\Automação Docs - Python\Aula 3\Produtos Novo.xlsx", index=False)
#local onde será baixada a planilha